.container{
    height: 100vh;
    background-color: darkcyan;
    color: black;
}
.botones{
    width: 200px;
    margin: 0 auto;
}
.botones table{
    width: 100%;
    text-align: center;
    background-color: white;
}
.botones td{
    background-color: beige;
    border-radius: 15px;
    width: 40px;
}
.botones th{
    background-color: black;
    color: white;
}
.botones .btn-operacion{
    color: darkgreen;
}
.botones .btn-numero{
    color: black;
}
.botones .btn-resultado{
    color: white;
    background-color: darkgreen;
}